@media print {
  body {
    background-image: none;
  }

  /* table {
    margin-top: 15px;
    width: auto;
    max-width: 100%;
  } */

  /* td {
    padding:0 3px;
  } */ 

  h1 {
    margin:0 0 0.25cm 0;
    page-break-before: always;
  }

  .figure {
    page-break-inside: avoid;
  }

  @page {
    margin: 1.0cm 1.5cm 1.0cm 1.0cm;
  }

  @page :first{
    margin:0;
    @bottom-left {content: "";}
    @bottom-right {content: "";}
  }

  @page {
    size: portrait; 
    @bottom-left {
      content: "";
    }
    @bottom-right {
      content: counter(page);
    }
  }  
}